elastic_url: "http://host:port"
elastic_sniff: false
eth_rpc: "ws://127.0.0.1:8546"
geth_rpc: "ws://127.0.0.1:8546"
parity_rpc: "ws://host:port"
etherscan_rpc:
    key: ""
    url: "https://api.etherscan.io/api"
net_mode: "privatenet"
db_mysql: "root:hww8773084123@tcp(127.0.0.1:32768)/eth_service"
max_balance: 20.0
to: ["0x0cEabC861BeEBE8e57a19C26586C14c6f5E7B174", "0x8DeFdA5f8143dfA41DdbcFa305230e35564B3665"]
raw_tx_path: "tx/unsign"
signed_tx_path: "tx/signed"
